<!DOCTYPE html>
<html>
  <head>
    <title>Mongoose Flights</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1 class="titles"> <%= title  %> </h1>
    <nav>
      <header>
          <a href="/" class="airplane"><img src="/images/airplane.svg" alt="airplane"/></a>
          <h1>Mongoose Flight</h1>
      </header>
      <a href="/">Home</a> 
      || 
      <a href="/flights/new">New Flight</a> 
      || 
      <a href="/flights">All Flights</a>
  </nav>
  </body>
</html>
